#container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
@font-face {
  font-family: DIN;
  src: url(f.woff2);
}
#demo {
  font-size: 300%;
  font-family: DIN, sans-serif;
  color: white;
}
body {
  background-color: black;
}
